.logo.header {
	background-color : #303030;
	padding : 5px;
	color : white;
	margin-bottom : 30px;
}

.logo.header img {
	height : 100px;
	vertical-align : middle;
}

.logo.header h1 {
	display : inline;
	vertical-align : middle;
	margin-left : 20px;
}

